{% extends 'base.html' %}

{% block content %}
  <h1>About Jason Jiang</h1>
  <hr />
  <p>Jason Jiang is a Chinese-Canadian-American residing in the Chicago area.</p>
  <p>He has worked in New York City, San Francisco, and Austin.
  <p>He is currently seeking remote front-end, back-end, or full-stack software engineering opportunities.</p>
  <p>He was an early sales hire at two YC tech startups: Great Question YC W21 / UX B2B SaaS) & Opentrons (YC W16 / biotech robotics), an Analyst at Eastdil Secured (real estate finance), an Associate at IPG (search engine marketing), and Founder of LIMITLESS Rx (personal training) during college.</p>
  <p>Interested?</p>
  <p>Contact him at jiang.j.jason@gmail.com</p>
  <footer>All Rights Reserved, &copy; 2023 Jason Jiang</footer>  
{% endblock %}
  