{% extends 'base.html' %}

{% block content %}
  <h1>About Jason Jiang</h1>
  <hr />
  <p> Seeking remote front-end or full-stack software engineering opportunities.</p>
  <p>Formerly early sales hire at two YC tech startups: Great Question YC W21 / UX B2B SaaS) & Opentrons (YC W16 / biotech robotics), Analyst at Eastdil Secured (real estate finance), Associate at IPG (search engine marketing), Founder of LIMITLESS Rx (personal training)</p>
  <p>Interested?</p>
  <p>Email me at jiang.j.jason@gmail.com</p>
  <footer>All Rights Reserved, &copy; 2023 Jason Jiang</footer>  
{% endblock %}
  